player-connection-mode=Listen
player-connection-guid=4178251575
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=172.20.128.1
player-connection-ip=192.168.2.201
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=a8c4f998ed184bf1b6373d682dc135c0
